main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.buttons {
  margin-bottom: 10px;
}

.playAgain {
  display: none;
}

.playAgainShow {
  display: block;
}